<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <!-- The uri that the host will listen to. -->
    <add key="Nancy.Uri" value="http://localhost:49926"/>
    
    <!-- MapSurfer.NET version -->
    <add key="MapSurfer.Version" value="2.0"/>

    <!-- MapSurfer.NET installation path. This parameter should be used
                     when MapSurfer.NET was not installed for everyone on the current machine and 
                     the service runs under the user which has not installed the framework 
                     When this parameter is active then the parameter MapSurfer.Version is not taken into account.
                -->
    <!--   <add key="MapSurfer.InstallPath" value="Your path" /> -->

    <!-- Map service name -->
    <add key="MapSurfer.ServiceName" value="MapSurfer.NET Web Map Service"/>
    <!-- Map service log file name -->
    <add key="MapSurfer.ServiceLogFileName" value="C:\Temp\MSNWS1\ServiceLog.txt"/>
    <!-- Map service settings file name -->
    <add key="MapSurfer.ServiceSettingsFileName" value="C:\Program Files\MapSurfer.NET\2.0\Web\Config\Service1.msnwss"/>
  </appSettings>
</configuration>
