<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="DynamicHttpModules" type="MapSurfer.Web.Hosting.AspNet.DynamicHttpModulesConfiguration, MapSurfer.Web.Hosting.AspNet" allowDefinition="MachineToApplication"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MapSurfer.Web.Extensions" publicKeyToken="null" culture="neutral"/>
        <codeBase version="1.100.4576.27430" href="file:///C:\Program%20Files\MapSurfer.NET\2.0\Core\MapSurfer.Web.Extensions.DLL"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- MapSurfer.NET version -->
    <add key="MapSurfer.Version" value="2.0"/>
    <!-- MapSurfer.NET installation path. This parameter should be used
                     when MapSurfer.NET was not installed for everyone on the current machine and 
                     the service runs under the user which has not installed the framework 
                     When this parameter is active then the parameter MapSurfer.Version is not taken into account.
                -->
    <!--   <add key="MapSurfer.InstallPath" value="Your path" /> -->
    <!-- Map service name -->
    <add key="MapSurfer.ServiceName" value="MapSurfer.NET Web Map Service"/>
    <!-- Map service log file name -->
    <add key="MapSurfer.ServiceLogFileName" value="C:\MapSurfer\Temp\MSNWS1\ServiceLog.txt"/>
    <!-- Map service settings file name -->
    <add key="MapSurfer.ServiceSettingsFileName" value="C:\Program Files\MapSurfer.NET\2.0\Web\Config\Service1.msnwss"/>
    <!-- Piwik tracking enabled -->
    <add key="MapSurfer.PiwikTracker.Enabled" value="False"/>
    <!-- Piwik site ID -->
    <add key="MapSurfer.PiwikTracker.SiteID" value="1"/>
    <!-- Piwik API url -->
    <add key="MapSurfer.PiwikTracker.URL" value="http://localhost:8010"/>
    <!-- Piwik version -->
    <add key="MapSurfer.PiwikTracker.Version" value="1.7"/>
    <!-- Piwik indicates the number of requests that is considered as one download/pageview, use it to decrease performance -->
    <add key="MapSurfer.PiwikTracker.RequestScale" value="10"/>
  </appSettings>
  <!--
  <DynamicHttpModules>
    <Modules>
       <add name="PiwikTrackerModule" type="MapSurfer.Web.HttpModules.PiwikTrackerModule" path="MapSurfer.Web.Extensions.dll" />
    </Modules>
  </DynamicHttpModules>

  -->
  <system.web>
    <compilation debug="false" defaultLanguage="c#" targetFramework="4.0"/>
    <sessionState mode="Off"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>